INCLUDES:

    Intro to For Loops
    range()
    list()
    moudlus operator(%)

INTRO TO FOR LOOPS

In [1]:
# Useful to iterate a list, sum up items in a lists,

#Given the lists below, iterate each element

a = ["banana", "apple", "microsoft"]

In [2]:
for element in a:
    print(element)
    
    
#Note the word (element) can be replaced with any word

banana
apple
microsoft

In [3]:
b =  [20, 10, 5]

# to iterate b

for x in b:
    print(x)

20
10
5

In [4]:
#To find the sum of items, in a lists

b =  [20, 10, 5]

#First we will have to create a total variable with an intial value of 0
#Then for each element in the list we are to add it to the zero, then print the final result

total = 0

for x in b:
    total = total + x
    
print(total)

35

In [5]:
# we can use the shorthand syntax of total = total + X,

b =  [20, 10, 5]

total = 0

for x in b:
    total += x
print(total)

35

RANGE

If we want to creat a range of of numbers, lets say 1,2,3,4
To do so we can use the range funtion -- range(1,5), where it gives us the numbers from 1 to 5, but excludes 5,

LIST CREATION

TO creat a list,  we use the list function
To use the list function -- list(inside the bracket place the items of the list)

In [6]:
#Creating a rage of 1 to 5 and excludeing 5

range(1,5)
print(range(1,5))

range(1, 5)

In [7]:
#To creat a list from the given range
c = list(range(1, 5))

print(c)

[1, 2, 3, 4]

In [8]:
# TO iterate items in a range

for i in range(1, 5):
    print(i)

1
2
3
4

In [10]:
#To find sum of items in a range

t = 0

for n in range(1, 5):
    t += n
print(t)

10

MODULUS OPERATOR (%)

It is used to output the reminder of a division operationn between two numbers e.g 4 % 3 , gives a reminder of 1

In [11]:
print(4%3)

1

In [13]:
# We can use the % to set a condition, e.g if we want to select items in a range that are a multiple of 3
# Hence to find the total of numbers which are a multiple of 3 in the range of 1 to 8

t3 = 0

for i in range(1, 8):
    if i % 3 == 0:
        t3 += i
print(t3)

9

In [ ]:
#Quiz, Compute all multiples of 3, 5 that are less than 100
# range(1,100)

In [17]:
#Solution

t = 0

for i in range(1,100):
    if i % 3 == 0 or i % 5 == 0 :
        t += i
        
print(t)

2318

In [1]:
# We can also iterate using index

a = ["banana", "apple", "pineapple"]

for i in range(3):
    print(a[i])

banana
apple
pineapple

In [2]:
# Note in the above cell range(3) is same as range(0,3) which is -- 0, 1, 2
# Hence we are iterating values in a, sourcing the value of the idex from the range

# We can create a for loop inside a for loop, 
# To iterate an item  in reference to its position
# In this part, we create a range that increases with each loop,
    

for i in range(3):
    for j in range(i+1):
        print(a[i])

banana
apple
apple
pineapple
pineapple
pineapple