<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# Python Basics for Data Science [Essentials]

# 1. Variables, Printing and Comments

## 1. Variables

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [1]:
# Example 1
# ---
# Running this cell won't output anything because we have not asked python to do that.
# However, it will run anything that is not a comment. In our case, running this cell will
# execute the last line of our cell where we assign the value 10 to the variable. 
# A few rules about variables is that they must begin with a letter, underscore, 
# or non-number character. They must also not have spaces in between.
# ---
# OUR CODE GOES BELOW
#
a = 10

##### <font color="blue">Example 2</font>

In [2]:
# Example 2
# ---
# Again, let's assign the value "Earth" to the variable planet. 
# We use the equals sign, =, which is called an assignment operator to perform this operation.
# Again, running this cell won't output anything, it will only run our code.
# ---
# OUR CODE GOES BELOW
#
planet = "Earth"

##### <font color="blue">Example 3</font>

In [3]:
# Example 3
# ---
# Let's Assign the value ["This list has number element", 4] to a variable called four.
# In example 1 and 2, we assigned values of different nature i.e. an integer 10 and a string "Earth".
# In our case now we will create a value of a different nature called a list. Don't worry about this,
# we will cover lists later on in the session. Just keep in mind that lists are enclosed with square
# brackets as shown below. You will also learn more about dictionaries which are enclosed with curly brackets. 
# ---
# OUR CODE GOES BELOW
#

four = ["This list has number element", 4]

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [5]:
# Challenge 1
# ---
# Question: Create a variable name account then assign it with the string 10,000. 
# Just note this is not the answer: account = 10,000 or this account = 10000
# Hint: Learn from example 2.
# ---
# YOUR CODE GOES BELOW
#

name = "10,000"

print(name)

10,000

##### <font color="green">Challenge 2</font>

In [6]:
# Challenge 2
# ---
# Question: Assign the name J.K Rowling to the variable author.
# ---
# YOUR CODE GOES BELOW
#

author = "J.K Rowling"

print(author)

J.K Rowling

## 2. Printing

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [7]:
# Example 1
# ---
# Question: Print the text "Hello!" in the output console of this cell
# ---
# OUR CODE GOES BELOW
#
print("Hello!")

Hello!

##### <font color="blue">Example 2</font>

In [8]:
# Example 2
# ---
# Question: Print the text "Hello Valentine!" and defining a whitespace as a seperator
# ---
# OUR CODE GOES BELOW
#
print("Hello", "Valentine!", sep=" ")

Hello Valentine!

##### <font color="blue">Example 3</font>

In [12]:
# Example 3 
# ---
# Question: Print out the following dictionary named colors = {'red', 'green', 'blue'},
# in the output console below 
# ---
# OUR CODE GOES BELOW
# 

colors = {'red', 'green', 'blue'}
print(colors)

{'red', 'blue', 'green'}

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [13]:
# Challenge 1
# ---
# Question: Using the print function print out this statement: "I am excited to learn Data Science"
# ---
# YOUR CODE GOES BELOW
# 

print("I am excited to learn Data Science")

I am excited to learn Data Science

##### <font color="green">Challenge 2</font>

In [16]:
# Challenge 2
# ---
# Question: Print out three cities in the world, seperated by commas.
# ---
# YOUR CODE GOES BELOW
# 

print("Nairobi","Mombasa","Lagos", sep=",")

Nairobi,Mombasa,Lagos

## 3. Comments

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1:</font> Single Line Comments

In [17]:
# This line is a single line comment. We use the # character to indicate the following single line content are comments.
score = 56

##### <font color="blue">Example 2:</font> Multiple Line Comments - Method 1

In [ ]:
'''
This is a multiline comment. 
We use the delimiter characters to indicate that 
the following multi-line content are comments.
'''
score = 53

##### <font color="blue">Example 3:</font> Multiple Line Comments - Method 2

In [ ]:
# ---
# This is a multi-line comment. 
# We can also use multiple hash characters to comment on 
# a block of content just as shown in this example.
# We will be using this method of commenting to 
# provide more information about the exercises 
# and challenges within this course.
# ---

score = 53

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1:</font> Explain the following code below using a single line comment.

In [18]:
# To assign the value Earth to the vaiable home_planet

home_planet = "Earth"

##### <font color="green">Challenge 2:</font> Explain the following code using multiple line comments (using delimiters)

In [19]:
 '''
 We to assign an integer value of 400 to the variable lap, while showning the use
 of multiple line comments(delimiters)
 '''
 lap = 400

# 2. Arithmetic Operators

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [20]:
# Example 1
# ---
# We will now go through arithmetic operators. Here in this example, 
# we will perform an addition operation below. We can use the subtraction operator
# to perform the subtraction operator
# ---
# 

# Declare our variables
a = 40
b = 10

# Addition
c = a + b

# Printing out our results
print(c)

50

##### <font color="blue">Example 2

In [21]:
# Example 2
# ---
# We can perform an division operation below
# ---
# 
d = a / b

# Printing out our result
# ---
#
print(d)

4.0

##### <font color="blue">Example 3

In [22]:
# Example 3
# ---
# We can also use the increment operator to perform a = a + b. This is a common operator 
# while writing python programs. In addition, we can also use the decrement operator -=.
# After you've ran this cell, you can try using decrement operator so that you see
# what happens when you use it.
# ---
# 

# Declaring our variables 
# ---
# 
a = 40
b = 10

# Using the increment operator
# ---
#
a += b

# Printing out our result
# ---
#
print(a)

50

##### <font color="blue">Example 4</font>

In [24]:
# Example 4
# ---
# We can also use the exponentiation operator ** to raisee the number 
# to its left to the power of the number to its right. For example, 3**2 = 9.
# Another operator we can use is the modulus operator %% which returns 
# the remainder of the division between number on the left by the on the right.
# For Example, 5 %% 2 = 1
# ---
#

# Uncomment the following lines of code and see what happens
# ---
# 
print(15 % 7)
print(5 ** 2)

1
25

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [26]:
# Challenge 1
# ---
# Question: Subtract b from a using the above declared variables and print out the result
# ---
# YOUR CODE GOES BELOW
#

print(a-b)

40

##### <font color="green">Challenge 2</font>

In [27]:
# Challenge 2
# ---
# Question: Multiply a and b variables and print out out the result
# ---
# YOUR CODE GOES HERE

print(a*b)

500

# 3. Data Types

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [28]:
# Example 1
# ---
# Dynamically-inferred types
# ---
#

# Integer data type
# ---
# Integer value is a positive or negative whole number.
# ---
#
x = 50
print(type(x))

# String data type 
# ---
# String value is a sequence of characters. Strings are contained in either single or double quotes.
# ---
#
x = '30'
print(type(x))

# Float data type
# ---
# Float value is a real number with floating-point representation.
# ---
# 
x = 90.0
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>

##### <font color="blue">Example 2

In [29]:
# Example 2
# ---
# Manual type-conversion (string to int)
# Let's see what happens when we add a value of integer datatype with
# a value of string data type.
# ---
# 
x = 40
y = '5'

print(x + int(y))

45

##### <font color="blue">Example 3

In [30]:
# Example 3
# ---
# Automatic type-conversion (int to float)
# ---
# 
x = 20
print(type(x))

x += 5.0
print(x)

print(type(x))

<class 'int'>
25.0
<class 'float'>

##### <font color="blue">Example 4

In [31]:
# Example 4
# ---
# Dividing Integers results to a float
# ---
# 
a = 40
b = 5

print(a/b)
print(b/a)

8.0
0.125

##### <font color="blue">Example 5

In [32]:
# Example 5
# ---
# Forcing float division
# ---
# 
print(b/float('5'))

1.0

##### <font color="blue">Example 6

In [33]:
# Examaple 6
# ---
# String "arithmetic" (actually concatenation)
# Adding two strings
# ---
a = 'John '
b = 'Doe'

print(a + b)

John Doe

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [34]:
# Challenge 1
# ---
# Question: Print out any variable that comes to mind with the string data type.
# ---
# YOUR CODE GOES BELOW
#

a = "Hello World!"

print(a)

Hello World!

##### <font color="green">Challenge 2</font>

In [37]:
# Challenge 2
# ---
# Question: Run and correct the following code.
# ---
# Hint: Read the errors generated and modify the code accordingly
# 
x = 1000
y = '5'
print(x + int(y))

1005

##### <font color="green">Challenge 3</font>

In [38]:
# Challenge 3
# ---
# Question: Perform integer division of 199 and 3 with the result being a float.
# Print out the result.
# ---
# YOUR CODE GOES BELOW

b = 199/3 

print(b)
print(type(b))

66.33333333333333
<class 'float'>

##### <font color="green">Challenge 4</font>

In [39]:
# Challenge 4
# ---
# Question: Print out the data type of the given variable x.
# ---
# YOUR CODE GOES BELOW
#
x = 1000.00

print(type(x))

<class 'float'>

# 4. Lists

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [40]:
# Example 1
# ---
# Question: Create a list named fish and store it with values of different types of fish
# ---
# 

# Defining our list
fish = ["salmon", "star fish", "tilapia", "sword fish"]

# Printing our result
print(fish)

['salmon', 'star fish', 'tilapia', 'sword fish']

##### <font color="blue">Example 2

In [41]:
# Example 2
# ---
# Question: Add elements to a list
# ---
# 

# Adding the fish "gold fish" to our fish list
# ---
#
fish.append("gold fish")

# Printing our result
# ---
#
print(fish)

['salmon', 'star fish', 'tilapia', 'sword fish', 'gold fish']

##### <font color="blue">Example 3

In [42]:
# Example 3 
# ---
# Question: updating an element in a list
# ---
#
fish[2] = "nile tipalia"

# Printing our result
# ---
#
print(fish)

['salmon', 'star fish', 'nile tipalia', 'sword fish', 'gold fish']

##### <font color="blue">Example 4

In [43]:
# Example 4 
# ---
# Question: Remove an element from a list
# ---
#
fish.remove("gold fish")

# Printing our result
# ---
#
print(fish)

['salmon', 'star fish', 'nile tipalia', 'sword fish']

##### <font color="blue">Example 5

In [44]:
# Example 5
# ---
# Question: Slice the restaurant list to fetch specific elements in a list
# ---
#

# Getting the first element in the list as shown
# ---
# 
print(fish[0])

# Getting the first two elements in the list as shown
# ---
#
print(fish[0:1])

# Getting the last one element in the list as shown
# ---
#
print(fish[-1:])

# Getting items from 2nd position to the end in the list as shown
# ---
#
print(fish[2:])

salmon
['salmon']
['sword fish']
['nile tipalia', 'sword fish']

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [45]:
# Challenge 1
# ---
# Question: Create a list containing any 5 fruits of your choice. 
# ---
# YOUR CODE GOES BELOW
# 

fruits = ["apple", "Pineapple", "Banana", "Mango", "Orange"]

print(fruits)

['apple', 'Pineapple', 'Banana', 'Mango', 'Orange']

##### <font color="green">Challenge 2</font>

In [48]:
# Challenge 2
# ---
# Question: Add the fruit guava to your list.
# ---
# YOUR CODE GOES BELOW
# 
fruits.append("guava")

print(fruits)

['apple', 'Pineapple', 'Banana', 'Mango', 'Orange', 'guava']

##### <font color="green">Challenge 3</font>

In [49]:
# Challenge 3
# ---
# Question: Update the fruit in the third and fourth position in the list 
# with "red orange", "yellow orange"
# ---
# YOUR CODE GOES BELOW
# 

fruits[2] = "red Orange"

fruits[3] = "yellow Orange"

print(fruits)

['apple', 'Pineapple', 'red Orange', 'yellow Orange', 'Orange', 'guava']

##### <font color="green">Challenge 4</font>

In [51]:
# Challenge 4
# ---
# Question: Print out the last two fruits in your list.
# ---
# YOUR CODE GOES BELOW
# 

print(fruits[-2:])

['Orange', 'guava']

# 5. Conditional (If) Statements

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [52]:
# Example 1
# ---
# Question: How do we use the If keyword?
# ---
# 

# We first declare our variables
p = 500
q = 100

# Then we use the if keyword as shown. (We need to watchout for the white spaces)
if q < p:
  print("y is less than x")

y is less than x

##### <font color="blue">Example 2

In [53]:
# Example 2
# ---
# Question: How can we use the Elif keyword?
# ---
# 
r = 100
s = 100

p = 500
q = 100

if s < r:
  if q < p:
    print("y is less than x")
elif r == s:
  print("r and s are equal")

r and s are equal

##### <font color="blue">Example 3

In [54]:
# Example 3 
# ---
# Question: How can we use the Else keyword?
# ---
# 

# Declaring our variables
a = 150
b = 50

# Then using our else keyword
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

##### <font color="blue">Example 4

In [55]:
# Example 4
# ---
# Question: How can we use the And keyword?
# ---
# 

# Declaring our variables
name = "Mary"    
age  = 30 

# Using the And keyword
if name == "Mary" and age == 30:
  print("My name is Mary, and I am 30 years old.")

My name is Mary, and I am 30 years old.

##### <font color="blue">Example 5

In [56]:
# Example 5
# ---
# How can we use the Or keyword?
# ---
# 
a = 100
b = 101
c = 99

if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [57]:
# Challenge 1
# ---
# Question: Declare two variables t and s then, find out whether t is less than s.
# You can use the values of t and s to be 7 and 8 respectively.
# ---
# YOUR CODE GOES BELOW
#

t = 7
s = 8

if t < s:
    print("t is less than s")
else: 
    print("t is not less than s")

t is less than s

##### <font color="green">Challenge 2</font>

In [62]:
# Challenge 2
# ---
# Question: Create an if statement that determines whether a number given 
# by a user is greater than 10 and less than 30. 
# The number given can be in the form of a variable.
# ---
# Hint: Use the and keyword
# ---
# YOUR CODE GOES BELOW
# 

s = 50
if 10 < s <30:
    print("It is within the range")
else:
    print("It is outside the range")

It is outside the range

# 6. Dictionaries

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [63]:
# Example 1
# ---
# Question: Create a dictionary named vehicle and store 3 keys with their respectice values 
# ---
# 
vehicle = {
  'brand': 'Toyota',
  'model': 'Subaru',
  'year': 2019
}
print(vehicle)

{'brand': 'Toyota', 'model': 'Subaru', 'year': 2019}

##### <font color="blue">Example 2

In [64]:
# Example 2
# ---
# Question: Add an element to the vehicle dictionary 
# ---
# 

# Adding an element to your dictionary
vehicle['engine'] = '1800cc'  

# Printing out our updated dictionary
print(vehicle)

{'brand': 'Toyota', 'model': 'Subaru', 'year': 2019, 'engine': '1800cc'}

##### <font color="blue">Example 3

In [65]:
# Example 3
# ---
# Question: Update an element in the vehicle dictionary
# ---
# 

# Updating an element to our dictionary
vehicle['engine'] = '2400cc'

# Printing out our updated dictionary
print(vehicle)

{'brand': 'Toyota', 'model': 'Subaru', 'year': 2019, 'engine': '2400cc'}

##### <font color="blue">Example 4

In [66]:
# Example 4
# ---
# Question: Access an element from a dictionary
# ---
# 

# Printing our vehicle's model
#
print(vehicle["model"]) 

# or we could use
print(vehicle.get("model"))

Subaru
Subaru

##### <font color="blue">Example 5

In [67]:
# Example 5
# ---
# Question: Remove an element from the vehicle dictionary
# ---
# 

# Removing model from the dictionary
vehicle_without_model = vehicle.pop("model")
vehicle

{'brand': 'Toyota', 'year': 2019, 'engine': '2400cc'}

##### <font color="blue">Example 6

In [68]:
# Example 6
# ---
# Question: Check if an element exists in the vehicle dictionary
# ---
# 

if "brand" in vehicle:
  print("Yes, the keyword exists in the dictionary")
else:
  print('No, the keyword does not exist in the dictionary')

Yes, the keyword exists in the dictionary

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [69]:
# Challenge 1
# ---
# Question: Create a dictionary named accountants then populate it with 
# any values for the keys; name, certification, company
# ---
# YOUR CODE GOES BELOW
# 

accountants = {"name":"John", "certification":"KCA", "company":"kpmg"}

print(accountants)

{'name': 'John', 'certification': 'KCA', 'company': 'kpmg'}

##### <font color="green">Challenge 2</font>

In [71]:
# Challenge 2
# ---
# Question: Add the element institution with value 'Pearson' to the 
# accountants dictionary 
# ---
# YOUR CODE GOES BELOW
# 
accountants["institution"] = "Pearson"
    
print(accountants)

{'name': 'John', 'certification': 'KCA', 'company': 'kpmg', 'institution': 'Pearson'}

##### <font color="green">Challenge 3</font>

In [72]:
# Challenge 3
# ---
# Question: Update the element name with value Jane in the accountants dictionary 
# ---
# YOUR CODE GOES BELOW
# 

accountants["name"] = "Jane"

print(accountants)

{'name': 'Jane', 'certification': 'KCA', 'company': 'kpmg', 'institution': 'Pearson'}

##### <font color="green">Challenge 4</font>

In [75]:
# Challenge 4
# ---
# Question: Access the value of the certification key in the dictionary above
# ---
# YOUR CODE GOES BELOW
#  
print(accountants["certification"])

KCA

##### <font color="green">Challenge 5</font>

In [78]:
# Challenge 5
# ---
# Question: Check whether country is a key in the accountants dictionary 
# ---
# YOUR CODE GOES BELOW
# 

if "country" in accountants:
    print("Exisits")
else:
    print("Does not Exisits")

Does not Exisits

# 7. For Loops

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [79]:
# Example 1
# ---
# Question: Loop/iterate through the string "Karura Karura"
# ---
# 
for y in "Karuna Karuna":
  print(y)

K
a
r
u
n
a

K
a
r
u
n
a

##### <font color="blue">Example 2

In [80]:
# Example 2
# ---
# Question: Use a break statement to stop the loop before it continues its iteration
# ---
# 

# Let's print out the restaurants list that we had created earlier on
restaurants = ["cj's", "Java", "Nyama Mama", "Italian", "Viridian", "Khosa"]

# Looping and using a break statement
for x in restaurants:
  print(x) 
  if x == "Viridian":
    break

cj's
Java
Nyama Mama
Italian
Viridian

##### <font color="blue">Example 3

In [81]:
# Example 3
# ---
# Question: Use a continue statement to stop the current iteration of the loop 
# and continue the next section of our code
# ---
# 

# Creating a list
mobile_phone = ["iphone 4", "iphone 5", "iphone 6", "iphone 7", "iphone 8", "iphone x", "iphone xs"]

# Using a for loop
for x in mobile_phone:  
    if x == 'iphone 6' or x == 'iphone 8': 
         continue
    print ('Checked Phone :', x)

Checked Phone : iphone 4
Checked Phone : iphone 5
Checked Phone : iphone 7
Checked Phone : iphone x
Checked Phone : iphone xs

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [82]:
# Challenge 1
# ---
# Question: Iterate through the string "I am a citizen of the World"
# ---
# YOUR CODE GOES BELOW
# 

for x in "I am a citizen of the World":
    print(x)

I

a
m

a

c
i
t
i
z
e
n

o
f

t
h
e

W
o
r
l
d

##### <font color="green">Challenge 2</font>

In [86]:
# Challenge 2
# Make changes to the code below to omit the Yohana and Mariga
# while displaying the items in the footballers list.
#

# Creating our list
# ---
# 
footballers = ["Oliech", "Kahata", "Yohana", "Matasi", "Mariga", "Wanyama"]

# Iterating over our list
# ---
# 
for f in footballers:
    if f == "Kahata" or f == "Mariga":
        continue 
    print(f)

Oliech
Yohana
Matasi
Wanyama

# 8. While Loops

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [87]:
# Example 1
# ---
# Question: Iterate over a list using the while loop
# ---
# YOUR CODE GOES BELOW
#

# First defining our list
teachers = ['John', 'Ruth', 'Naomi', 'Estther', 'Liz', 'Stephen', 'Lona', 'Susan', 'Ian']

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers) 

# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:
  
  # print out the element in the list as per the index
  print(teachers[i])
  
  # incrementing our i by 1
  i += 1

John
Ruth
Naomi
Estther
Liz
Stephen
Lona
Susan
Ian

##### <font color="blue">Example 2

In [91]:
# Example 2
# ---
# Question: Use a break statement while iterating over our teachers list
# ---
# YOUR CODE GOES BELOW
#

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers) 

# defining our word variable
word = "Liz"


# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:
  
  # print out the element in the list as per the index
  if word == teachers[i]:
    
      print("Find the element at position:",i)
    
      break
  
  # incrementing our i by 1
  i += 1

Find the element at position: 4

##### <font color="blue">Example 3

In [92]:
# Example 3
# ---
# Using the continue statement forces the next iteration of the loop to take place 
# ---
# YOUR CODE GOES BELOW
#

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers) 

# defining our word variable
word = "Emma"


# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:
  
    print("Checking element:", i)
    
    if word != teachers[i]:
        
        i = i + 1
        
        continue
 
    print("Find the element at ", i)
    
    # stop the loop
    i = no_of_teachers

Checking element: 0
Checking element: 1
Checking element: 2
Checking element: 3
Checking element: 4
Checking element: 5
Checking element: 6
Checking element: 7
Checking element: 8

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [96]:
# Challenge 1
# ---
# Question: Iterate through the following list and stop at 8
# ---
# YOUR CODE GOES BELOW
#

a = [1, 2, 4, 12, 1, 2, 3, (5, 6), ['Hello', 'From', 'The'], 8, 'Other', 'Side']

i = 0

n = len(a)

while i < n:
    print(a[i])
    if a[i] == 8:
        break
    i += 1

1
2
4
12
1
2
3
(5, 6)
['Hello', 'From', 'The']
8

# 9. Functions

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [97]:
# Example 1
# ---
# Let's use built-in functions
# ---
# YOUR CODE GOES BELOW
#

# The max() function will return the item with the highest value as shown
# in the given list
x = max([23, 22, 55, 23, 44])
print(x)

# Using the max() function, we can return the item with the highest value alphabetically
y = max(["Susan", "Grace", "Simon"])
print(y)

55
Susan

##### <font color="blue">Example 2

In [98]:
# Example 2
# ---
# Let's create a function to find out which of two numbers is greater than the other 
# ---
# YOUR CODE GOES BELOW
#

# we define it by giving it the name max_of_two
def max_of_two():
  
  # we then define our variables that will contain the numbers to be manipulated
  first_number  = 10
  second_number = 5
  
  # then we perform our operations i.e. in this case,
  # if first_number is greater than second_number etc.
  if first_number > second_number:
    
      # the return keyword allows us to provide back the result/output of our function
    return first_number
  
    # the return key word allows us to provide back the result/output of our function
  return second_number
 
# Lastly, we do the most important step; which is to call the function that 
# we have just created above. Calling allows us to use the function. 
# We have also been calling our built-in functions from the previous section.
#
max_of_two()

10

##### <font color="blue">Example 3

In [99]:
# Example 3
# ---
# Define a function called average_of_two_numbers below  
# ---
# YOUR CODE GOES BELOW
#

def average_of_two_numbers(x, y): 
  average_of_two_numbers = (x + y)/2 
  return print(average_of_two_numbers)  
  
average_of_two_numbers(4, 5)

4.5

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [100]:
# Challenge 1
# ---
# Question: Determine the lowest value in the given array using an inbuilt function
# ---
# YOUR CODE GOES BELOW
#

# Create a list x
# ---
#
x = [23, 22, 55, 23, 44]

print(min(x))

22

##### <font color="green">Challenge 2</font>

In [114]:
# Challenge 
# ---
# Question: Write a function to tell us whether a variable covid_count is between 3000 and 10000
# ---
# YOUR CODE GOES BELOW
#

# Declaring our variable covid_count
# ---
# 
covid_count = 4500

# Your function goes here

def check(covid_count):
    if 3000 < covid_count and covid_count < 10000:
       return print("The count is within the range")
    
check(covid_count)

The count is within the range

In [115]:
covid_count = 4500


def check(covid_count):
    return 3000 < covid_count and covid_count < 10000
       
    
check(covid_count)

True