In [10]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('https://bit.ly/WeightHeightsDS')
df.head()

   Height  Weight
0    1.47   52.21
1    1.50   53.12
2    1.52   54.48
3    1.55   55.84
4    1.57   57.20

In [12]:
X = df.iloc[:, 0].values

y = df.iloc[:, 1].values

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0

SyntaxError: unexpected EOF while parsing (<ipython-input-13-3647e7984c35>, line 1)