In [1]:
# for loop

In [2]:
a = ["banana", "apple", "microsoft"]

In [3]:
# we are required to print each element seperately

In [4]:
# 1st Method- a little troublesome
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [5]:
# 2nd Method - Faster
for element in a:
    print(element)

banana
apple
microsoft

In [7]:
# to print multiple times
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [8]:
# the term element can be replace with any term or letter

for elem in a:
    print(elem)

banana
apple
microsoft

In [9]:
for e in a:
    print(e)

banana
apple
microsoft

In [10]:
b = [20, 10, 5]

In [2]:
# print multiple in the oder of 1,2, 3
a = ["apple", "banana", "republic"]

for i in range(len(a)):
    for j in range(i + 1): # 0+1=1, 1+1=2, 2+1=3
        print(a[i])

apple
banana
banana
republic
republic
republic

In [17]:
# to get the sum of the list
b = [20, 10, 5]
total = 0
for e in b:
    total = total + e
print(total)

35

In [19]:
# create a list of values ranging from one number to the other=== use range comand
# to create a list of the numers in range ==== use list command
# assign the new list to a varible

# Step 1 == range(1, 5)
# Step 2 == list(range(1, 5))
# Step 3 == c = list(range(1,5))

c = list(range(1,5))
print(c)

[1, 2, 3, 4]

In [21]:
# Using for loop
for i in range(1, 5):
        print(i)

1
2
3
4

In [25]:
total = 0
for n in range(1, 4):
    total = total + n
print(total)

6

In [27]:
# shortenin g the code (total = total +n)

total = 0
for n in range(1, 4):
    total += n
print(total)

6

In [28]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [30]:
# Modlus operator=== its finding out the reminder after dividing
# the percentage sign is used, %
# eg dividing 5 by 3 we get 1 remainder 2

print(5 % 3)

2

In [34]:
# Hence to get multiple of a number in a list we use the modulus operator
# eg to get values with the multiple of 2 in the range(1, 8)

for i in range(1, 8):
    if i % 2 == 0:
        print(i)

2
4
6

In [35]:
# To find the sum of values of multiple of 3 in the range(1,  8)
t3 = 0
for e in range(1, 8):
    if e % 3 == 0:
        t3 += e
print(t3)

9

In [37]:
# Quiz - Compute all positve  multiples of 3 and 5 that are less than 100
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [38]:
t3=0
t5=0
for a in range(1, 100):
    if a % 3 == 0:
        t3 += a
    if a % 5 == 0:
        t5 += a
print(t3)
print(t5)
c = [t3, t5]
t6 = 0
for b in c:
    t6 += b
print(t6)

1683
950
2633

In [3]:
t3=0
for a in range(1, 100):
    if a % 5 == 0 or a % 3 == 0:
        t3 += a
print(t3)

2318

In [45]:
t3=0
for a in range(1, 100):
    if a % 3 == 0 and a % 5 == 0:
        t3 += a
print(t3)

315

In [4]:
t3=0
for a in range(1, 100):
    if a % 15 == 0:
        t3 += a
print(t3)

315

In [1]:
t3=0
for a in range(1, 100):
    if a % 5 == 0:
        t3 += a
    elif a % 3 == 0:
        t3 += a
        
print(t3)

2318